.contact-card-single {
  width: 360px;
  height: 240px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 10px;
  background-color: #eee;

  &:hover {
      box-shadow: 5px 5px 5px #914853;
  }



  .contact-name {
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid darkgrey;
  }
}

.edit-delete {
  text-align: right;
  margin-top: 10px;
  
  .edit-delete-button {
    margin-left: 10px;
    border: 0;
    padding: 5px 10px;
    width: 80px;

    color: white;
    font-size: 12px;
    border-radius: 10px;

  }

  .edit-btn {
    background: rgb(110,158,183);

    &:hover {
      background: darken(rgb(110,158,183), 25%);
      cursor: pointer;
    }
  }

}

.contact-form-card {
  max-width: 60vw;
  background-color: #eee;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #aaaaaa;

  .contact-name {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid darkgray;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 10px;


  }

  .contact-subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 15px;

    .contact-sub-subsection {
      text-align: center;
      margin-bottom: 15px;
      width: 50%;
    }
  }
}

.add-contact-form {
  font-size: 16px;

  label {
    font-size: 25px;
  }
}

.long-input {
  width: 85%;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
  font-size: 16px;
}

.short-input {
  width: 70%;
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  margin-top: 10px;
  font-size: 14px;
}

.contact-form-submit {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;

  .edit-delete-button {
    border: 0;
    padding: 10px 15px;
    width: 100%;
    color: white;
    font-size: 16px;
    border-radius: 10px;
  }

  .submit-btn {
    background: rgb(110, 158, 183);

    &:hover {
      background: darken(rgb(110, 158, 183), 25%);
      cursor: pointer;
    }
  }

  .delete-btn {
    background: #b76e79;

    &:hover {
      background: darken(#b76e79, 25%);
      cursor: pointer;
    }
  }

  .back-btn {
    background: #6eb788;

    &:hover {
      background: darken(#6eb788, 25%);
      cursor: pointer;
    }
  }
  
}

