<div class="page">
  <h1>Register to create an account!</h1>
  <div class="login-container">
    <form>
      <div>
        <input
        type="text" 
        name="username" 
        placeholder="username" 
        [ngClass]="{ error: nameInvalid && name.dirty }"
        [(ngModel)]="formData.username"
        (keyup)="ValidateUsername()"
        #name="ngModel"
        minlength="3"
        />
        <div class="error-message" *ngIf="nameInvalid && name.dirty">
            {{ nameErrorMessage }}
          </div>
      </div>

      <div>
        <input 
        type="password" 
        name="password" 
        placeholder="password" 
        [(ngModel)]="formData.password" />
      </div>

      <div>
        <input 
        type="email" 
        name="email" 
        placeholder="email (optional)" 
        [ngClass]="{ error: emailInvalid && email.dirty }"
        [(ngModel)]="formData.email"
        (keyup)="ValidateEmail()"
        #email="ngModel"
         />
         <div class="error-message" *ngIf="emailInvalid && email.dirty">
            {{ emailErrorMessage }}
          </div>
        
      </div>

      <div>
        <input 
        type="text" 
        name="address" 
        placeholder="address (optional)" 
        [(ngModel)]="formData.address" />
      </div>

      <div>
        <button class="btn" (click)="onSubmit()">Submit</button>
      </div>

      <div>
          <button class="btn back-btn" (click)="onBackToLogin()">Back to Login</button>
        </div>
    </form>
  </div>
</div>
