<div class="nav-bar">
  <div class="logged-in" *ngIf="isLoggedIn()">
    <div class="welcome-message">Welcome, {{ user.username }} !</div>
    <div>
      <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-bars"></i>&nbsp;&nbsp;Menu</button>
      <mat-menu #menu="matMenu">
        <button class="nav-btn" mat-menu-item>
          <a routerLink="/"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a>
        </button>
        <button class="nav-btn" mat-menu-item>
          <a routerLink="contacts"><i class="far fa-address-book"></i>&nbsp;&nbsp;View All Contacts</a>
        </button>
        <button class="nav-btn" mat-menu-item>
          <a routerLink="add-contact"><i class="fas fa-plus"></i>&nbsp;&nbsp;Create Contacts</a>
        </button>
        <button class="nav-btn" mat-menu-item>
          <a routerLink="/"><i class="fas fa-address-card"></i>&nbsp;&nbsp;My Profile</a>
        </button>
        <button class="nav-btn" mat-menu-item (click)="logout()"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Log Out</button>
      </mat-menu>
    </div>
  </div>

  <div class="logged-out" *ngIf="!user.loggedIn">
    <button (click)="login()">Log In</button>
  </div>
</div>
