/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: rgb(242, 229, 231);
  font-family: 'Raleway', sans-serif;
}

h1 {
  padding: 15px;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
}

.page {
  margin: 15px;
  margin-top: 50px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact-card {
  width: 350px;
  height: 200px;
  padding: 15px;
  margin: 20px;
  box-shadow: 5px 5px 5px #aaaaaa;
  border-radius: 10px;
  background-color: #eee;

  &:hover {
    box-shadow: 5px 5px 5px #914853;
  }

  .contact-name {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid darkgrey;
  }
}

.twitter {
  color: #1dcaff;
}

.instagram {
  color: #5851db;
}

.github {
  color: #6e5494;
}

.contact-subsection {
  margin-top: 10px;
  font-size: 14px;
  overflow-x: auto;
}

.split-subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;

  .contact-subsection {
    width: 150px;
    margin-top: 10px;
  }
}
